/* Signup.css */

.signup-container {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .signup-container2 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 660px; /* Adjusted to max-width for responsiveness */
    height: 540px;
    position: relative;
    margin-top: 80px;
    margin-left: 60px;
  }
  
  body {
    background-color: #E3EDF8;
    margin: 0;
  }
  
  .input {
    margin-left: 100px;
    width: 700px;
  }
  
  .input2 {
    margin-left: 65px;
    width: 700px;
  }
  
  .container2 {
    background-color: #bcc4ca;
    padding: 30px;
    width: 50%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Responsive Adjustments */
  @media screen and (max-width: 768px) {
    .signup-container {
      width: 100%; /* Make the container full width on smaller screens */
    }
  
    .signup-container2 {
      width: calc(100% - 40px); /* Adjusted to full width minus some padding */
      margin: 20px; /* Add some margin for better spacing */
      height: auto; /* Allow the container to expand based on content */
    }
  
    .input,
    .input2 {
      margin-left: 20px; /* Reduce left margin for smaller screens */
      width: calc(100% - 40px); /* Adjusted to full width minus some padding */
    }
  
    .container2 {
      width: 100%; /* Make the container full width on smaller screens */
    }
  }  